# Les imports :

In [16]:
import numpy as np
import pandas as pd
import matplotlib as plt
import pickle

# Prétraitement

### Netoyage de ratings.csv 
Nous nous sommes debarassé de userId ainsi que de timestamp car ces deux colonnes ne sont pas significatives, nous avons fait la moyenne des notes de chaque film.

In [156]:
data_movies = pd.read_csv("data/movies.csv")

##### suppression des films sans genres

In [159]:
data_movies = data_movies[data_movies['genres'] != '(no genres listed)']

**reduction a 27278 films**

#### suppresion des film non presents dans ratings

In [161]:
data_ratings = pd.read_csv("data/ratings_clean.csv")

In [162]:
data_movies = data_movies[data_movies['movieId'].isin(data_ratings["movieId"])]

**reduction a 26502 films**

### suppresion des notations dont le film n'est pas present dans movies

In [164]:
data_ratings = data_ratings[data_ratings['movieId'].isin(data_movies["movieId"])]

**reduction à 26502**

### fusion des deux dataframes movies et ratings

In [ ]:
data_movies = pd.merge(data_movies, data_ratings, on='movieId')

data_movies.set_index('movieId')

#### rajout des colonnes suivantes valeur 1 si le film appartient a cette categorie sinon 0

Action
Adventure
Animation
Children's
Comedy
Crime
Documentary
Drama
Fantasy
Film-Noir
Horror
Musical
Mystery
Romance
Sci-Fi
Thriller
War
Western

In [167]:
categories = ["Action", "Adventure", "Animation", "Children" , "Comedy", "Crime","Documentary", "Drama", "Fantasy", "Film-Noir","Horror",  "Musical",  "Mystery", "Romance", "Sci-Fi", "Thriller", "War" , "Western"]

In [168]:
for i in categories:
    data_movies[i] = 0

In [169]:
for index, row in data_movies.iterrows():
    s = row["genres"].split('|')
    for j in s:
        data_movies.loc[index, j] = 1

In [ ]:
data_movies = data_movies.drop("genres", axis=1)
data_movies = data_movies.drop("IMAX", axis=1)

In [ ]:
data_movies.set_index('movieId')

**sauvegarde dans un fichier csv le datframe netoyé pour ne pas avoir a tout exectuter a chaque fois**

In [177]:
fichier = open("data/clean_MovieLens.csv", "w", encoding="utf-8")
fichier.write(data_movies.to_csv(index=False))

2255303

In [178]:
data_movies_clean = pd.read_csv("data/clean_MovieLens.csv")

In [180]:
data_movies_clean.head(2)

,movieId,title,rating,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),3.921240,0,1,1,1,1,0,0,...,1,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),3.211977,0,1,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0

### fichiers PKL

In [82]:

acts = []
with open("data/act_v2.pkl",'rb') as f:
    acts = pickle.load(f)

In [83]:
x = []
with open("data/film_v2.pkl",'rb') as f:
    x = pickle.load(f)
for i in range(len(x)):
    for actor in acts[i]:
        actor["movieId"]= x[i]['id']
        del actor["cast_id"]
        del actor["credit_id"]
        del actor["profile_path"]
        del actor["character"]

In [70]:
actors = pd.DataFrame([actor for d in acts for actor in d])
actors.set_index('id')

         gender  movieId                    name  order
id
31            2      862               Tom Hanks      0
12898         2      862               Tim Allen      1
7167          2      862             Don Rickles      2
12899         2      862              Jim Varney      3
12900         2      862           Wallace Shawn      4
7907          2      862       John Ratzenberger      5
8873          1      862             Annie Potts      6
1116442       2      862             John Morris      7
12901         2      862         Erik von Detten      8
12133         1      862          Laurie Metcalf      9
8655          2      862            R. Lee Ermey     10
12903         1      862           Sarah Freeman     11
37221         2      862           Penn Jillette     12
214701        1      862             Sherry Lynn     13
19545         2      862              Jack Angel     14
1266092       0      862            Spencer Aste     15
94038         2      862               Greg Berg     16
1202809       0      862            Lisa Bradley     17
134713        0      862      Kendall Cunningham     18
73016         1      862         Debi Derryberry     19
186614        0      862             Cody Dorkin     20
1017469       0      862           Gregory Grudt     21
1266095       0      862            Sam Lasseter     22
178710        1      862     Brittany Levenbrown     23
84213         2      862             Bill Farmer     24
1122227       2      862              Craig Good     25
1217873       0      862       Danielle Judovits     26
79020         2      862            Scott McAfee     27
166406        2      862          Ryan O'Donohue     28
7882          2      862            Jeff Pidgeon     29
...         ...      ...                     ...    ...
108857        0    32099          Kunto Ojansivu      9
108858        0    32099          Raimo Grönberg     10
88917         2    32099           Mikko Kivinen     11
108859        0    32099          Seppo Sallinen     12
108860        0    32099        Erkki Ruokokoski     13
108861        0    32099           Timo Julkunen     14
108862        0    32099          Sonja Saarinen     15
108863        0    32099  Martti-Mikael Järvinen     16
108864        0    32099              Timo Nissi     17
108865        0    32099             Martti Palo     18
108866        0    32099           Kielo Tommila     19
1329537       1   286971           Sophie Curtis      1
17521         1   286971            Kelly Reilly      2
27103         2   286971         Graham Phillips      3
3900          2   286971            Linus Roache      4
1355719       0   286971        Sarah Sutherland      5
59156         1   286971         Stephanie March      6
68495         1   286971           Perrey Reeves      7
111662        0   286971             Liya Kebede      8
20275         1   286971        Sarita Choudhury      9
1358460       1   286971                Annie Q.     10
1292644       0   286971             Mikal Evans     11
1172147       2   286971          Daniel Zovatto     12
1266054       1   286971           Evelina Turen     13
1689263       0   286971           Rachel Heller     14
163928        1   286971             Noelle Beck     15
1689264       0   286971          Kelly Bensimon     16
1440577       1   286971            Chloe Levine     17
1578317       0   286971    Bettina Mangiaracina     18
2012737       2   286971       Luke Marcus Rosen     19

[422860 rows x 4 columns]

In [80]:
x[0]

{'adult': False,
 'backdrop_path': '/7k4zEgUZbzMHawDaMc9yIkmY1qR.jpg',
 'genre_ids': [12, 14, 10751],
 'id': 8844,
 'original_language': 'en',
 'original_title': 'Jumanji',
 'overview': "When siblings Judy and Peter discover an enchanted board game that opens the door to a magical world, they unwittingly invite Alan -- an adult who's been trapped inside the game for 26 years -- into their living room. Alan's only hope for freedom is to finish the game, which proves risky as all three find themselves running from giant rhinoceroses, evil monkeys and other terrifying creatures.",
 'popularity': 2.947,
 'poster_path': '/vgpXmVaVyUL7GGiDeiK1mKEKzcX.jpg',
 'release_month': '12',
 'release_year': '1995',
 'title': 'Jumanji',
 'video': False,
 'vote_average': 7.1,
 'vote_count': 5594}

In [84]:
delete = []
for i in range(len(x)):
    if "release_date" in x[i]:
        date = x[i]["release_date"].split('-')
        if len(date) == 3 : 
            x[i]["release_year"] = date[0]
            x[i]["release_month"] = date[1]
    else:
        delete.append(i)
for i in delete:
    del x[i]

In [85]:
movies = pd.DataFrame(x)

In [86]:
movies = movies.drop("backdrop_path", axis=1)
movies = movies.drop("overview", axis=1)
movies = movies.drop("poster_path", axis=1)
movies = movies.drop("video", axis=1)

In [87]:
movies.set_index('id')

,adult,genre_ids,original_language,original_title,popularity,release_date,release_month,release_year,title,vote_average,vote_count
id,,,,,,,,,,,
862,False,"[16, 35, 10751]",en,Toy Story,22.773,1995-10-30,10,1995,Toy Story,7.9,9550
8844,False,"[12, 14, 10751]",en,Jumanji,2.947,1995-12-15,12,1995,Jumanji,7.1,5594
15602,False,"[35, 10749]",en,Grumpier Old Men,6.076,1995-12-22,12,1995,Grumpier Old Men,6.5,140
31357,False,"[35, 18, 10749]",en,Waiting to Exhale,2.917,1995-12-22,12,1995,Waiting to Exhale,6.1,55
11862,False,[35],en,Father of the Bride Part II,6.817,1995-02-10,02,1995,Father of the Bride Part II,6.1,288
949,False,"[28, 80, 18, 53]",en,Heat,13.666,1995-12-15,12,1995,Heat,7.8,3002
11860,False,"[35, 10749]",en,Sabrina,6.177,1995-12-15,12,1995,Sabrina,6.1,260
45325,False,"[28, 12, 18, 10751]",en,Tom and Huck,3.567,1995-12-22,12,1995,Tom and Huck,5.3,73
9091,False,"[28, 12, 18, 53]",en,Sudden Death,5.890,1995-10-27,10,1995,Sudden Death,5.7,279
710,False,"[12, 28, 53]",en,GoldenEye,16.629,1995-11-16,11,1995,GoldenEye,6.8,1853
9087,False,"[35, 18, 10749]",en,The American President,6.165,1995-11-17,11,1995,The American President,6.6,299
12110,False,"[35, 27]",en,Dracula: Dead and Loving It,8.435,1995-12-22,12,1995,Dracula: Dead and Loving It,5.8,366
21032,False,"[12, 16, 10751]",en,Balto,8.735,1995-12-22,12,1995,Balto,7.2,947
10858,False,"[18, 36]",en,Nixon,5.835,1995-12-22,12,1995,Nixon,7.0,123
1408,False,"[28, 12]",en,Cutthroat Island,7.020,1995-12-22,12,1995,Cutthroat Island,5.8,221
524,False,"[80, 18]",en,Casino,12.757,1995-11-22,11,1995,Casino,7.9,2283
4584,False,"[18, 10749]",en,Sense and Sensibility,8.861,1995-12-13,12,1995,Sense and Sensibility,7.4,647
5,False,"[80, 35]",en,Four Rooms,8.995,1995-12-09,12,1995,Four Rooms,6.3,1089
9273,False,"[12, 35, 80]",en,Ace Ventura: When Nature Calls,8.870,1995-11-10,11,1995,Ace Ventura: When Nature Calls,6.2,2019
11517,False,"[28, 35, 80]",en,Money Train,7.826,1995-11-21,11,1995,Money Train,5.6,335
8012,False,"[35, 53, 80]",en,Get Shorty,10.099,1995-10-20,10,1995,Get Shorty,6.5,451
1710,False,"[18, 53]",en,Copycat,5.320,1995-10-27,10,1995,Copycat,6.5,382
9691,False,"[28, 12, 80, 53]",en,Assassins,8.278,1995-10-06,10,1995,Assassins,6.2,624
12665,False,"[18, 14, 878, 53]",en,Powder,7.691,1995-10-27,10,1995,Powder,6.4,218
451,False,"[18, 10749]",en,Leaving Las Vegas,11.543,1995-10-27,10,1995,Leaving Las Vegas,7.2,567
16420,False,[18],en,Othello,3.732,1995-12-15,12,1995,Othello,6.6,60
9263,False,"[35, 18, 10751]",en,Now and Then,7.539,1995-10-20,10,1995,Now and Then,6.8,152
17015,False,"[18, 10749]",en,Persuasion,3.941,1995-05-01,05,1995,Persuasion,7.6,52
902,False,"[14, 878, 12]",fr,La Cité Des Enfants Perdus,9.141,1995-05-16,05,1995,The City of Lost Children,7.5,465
37557,False,"[80, 18]",zh,摇啊摇，摇到外婆桥,3.415,1995-04-30,04,1995,Shanghai Triad,7.0,28
...,...,...,...,...,...,...,...,...,...,...,...
9514,False,"[16, 35]",de,Werner - Das muss kesseln!!!,2.635,1996-06-27,06,1996,Werner - Das muss kesseln!!!,5.5,39
9496,False,"[16, 35]",de,Werner - Volles Rooäää!!!,2.161,1999-09-16,09,1999,Werner - Volles Rooäää!!!,4.9,34
73770,False,"[35, 10749]",de,What a Man,3.535,2011-08-25,08,2011,What a Man,5.7,68
10036,False,[35],de,7 Zwerge - Der Wald ist nicht genug,5.176,2006-10-25,10,2006,7 Dwarves: The Forest Is Not Enough,5.3,68
233438,False,[35],en,The Fat Spy,1.799,1966-05-11,05,1966,The Fat Spy,2.5,6
11664,False,[35],de,"Die Bademeister – Weiber, saufen, Leben retten",1.021,1999-06-18,06,1999,"Die Bademeister – Weiber, saufen, Leben retten",2.1,6
9572,False,[35],de,Knallharte Jungs,4.532,2002-03-13,03,2002,Ants in the Pants 2,4.3,48
1915,False,[35],de,"Manta, Manta",3.592,1991-10-02,10,1991,"Manta, Manta",5.4,39
51880,False,[18],en,Oscar et la dame Rose,4.614,2009-11-15,11,2009,Oscar and the Lady in Pink,6.7,39
258751,False,"[18, 10749]",es,Por un puñado de besos,3.258,2014-05-16,05,2014,For a Handful of Kisses,5.9,19
208982,False,[10752],en,Vietnam in HD,1.098,2011-11-08,11,2011,Vietnam in HD,8.2,7
254578,False,[18],de,Phoenix,6.229,2014-09-25,09,2014,Phoenix,6.7,200
328595,False,[878],en,Parallels,7.314,2015-03-01,03,2015,Parallels,6.1,191
160171,False,[18],fa,پرده,0.946,2013-02-12,02,2013,Closed Curtain,7.5,8
287422,False,"[18, 53, 10749]",sv,Gentlemen,0.600,2014-12-05,12,2014,Gentlemen,6.2,6
254200,False,"[18, 53]",da,En chance til,4.874,2014-09-09,09,2014,A Second Chance,6.6,70
293771,False,"[28, 27, 878]",en,Dead Rising,6.185,2015-03-27,03,2015,Dead Rising: Watchtower,5.0,192
301225,False,"[35, 10749]",en,Standby,1.566,2014-11-14,11,2014,Standby,6.3,20
35428,False,[35],ru,О чём говорят мужчины,5.241,2010-03-04,03,2010,What Men Talk About,7.7,67
91628,False,"[35, 18]",de,Dreiviertelmond,1.400,2011-10-13,10,2011,Three Quarter Moon,5.6,10
9478,False,"[35, 10749]",de,Harte Jungs,4.702,2000-03-29,03,2000,Ants in the Pants,4.4,49
10470,False,"[16, 35]",de,Werner - Gekotzt wird später!,2.266,2003-07-17,07,2003,Werner - Gekotzt wird später!,5.5,25
10010,False,"[12, 16, 10751]",en,Brother Bear 2,9.449,2006-08-17,08,2006,Brother Bear 2,6.5,652
9565,False,[35],de,Schule,2.412,2000-12-07,12,2000,No More School,5.6,27
9677,False,"[35, 27]",de,Staplerfahrer Klaus - Der erste Arbeitstag,3.979,2001-08-08,08,2001,Forklift Driver Klaus: The First Day on the Job,7.9,58
4436,False,[35],de,Kein Bund für's Leben,1.911,2007-08-30,08,2007,Military Academy,5.7,14
9274,False,[35],de,"Feuer, Eis & Dosenbier",1.568,2002-02-21,02,2002,"Fire, Ice & Canned Beer",4.4,11
285213,False,"[28, 36, 12]",ko,해적: 바다로 간 산적,3.726,2014-08-06,08,2014,The Pirates,6.6,57
32099,False,"[18, 10402]",fi,Rentun Ruusu,0.800,2001-01-01,01,2001,The Rose of the Rascal,6.7,6
286971,False,"[12, 14, 27, 9648, 53, 10749]",en,Innocence,1.775,2014-09-05,09,2014,Innocence,4.3,19

# Les problematiques :

# Traitements :

# Resultats :

# Conclusion :